/* Estilo global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
    /* background: url('../img/fondo.jpg') no-repeat center center fixed; Ruta ajustada */
    background-size: cover; /* Asegurar que la imagen cubra toda la pantalla */
  }
  /* Contenedor del formulario */
  .container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 6px 6px 15px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
}
/* Sección de información */
.information {
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #D4EBCE;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
}

.info-childs {
    width: 100%;
    padding: 0 30px;
}

.info-childs h2 {
    font-size: 2.5rem;
    color: #333;
}

.info-childs p {
    margin: 15px 0;
    color: #555;
}

.info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    padding: 10px 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color .3s ease;
}

.info-childs input:hover {
    background-color: #9191bd;
    /* border: none; */
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
/* Sección del formulario */
.form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-information-childs {
    padding: 0 30px;
}

.form-information-childs h2 {
    color: #333;
    font-size: 2rem;
}

.form-information-childs p {
    color: #555;
}

.form {
    margin: 30px 0 0 0;
}

.form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form label i {
    color: #a7a7a7;
}

.form input[type="submit"] {
    background-color: #9191bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form input[type="submit"]:hover {
    background-color: #7a7a9a;
}

.hide {
    position: absolute;
    transform: translateY(-300%);
}
/* Estilo responsivo */
@media screen and (max-width:750px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:590px) {
    html {
        font-size: 15px;
    }

    .container-form {
        height: auto;
        flex-direction: column;
    }

    .information {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
        
    }

    .form-information {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
}
/* Estilo de formularios generales */
input[type="text"], input[type="email"], input[type="password"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

textarea {
    resize: vertical; 
    height: 100px; 
}

input[type="submit"] {
    width: 60%;
    background-color: #6c63ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #5a54e3;
}
/* Etiqueta de perfil */
.perfil-label {
    display: flex;
    align-items: center;
}

.perfil-label select {
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    cursor: pointer;
}
/* Flecha de retroceso */
.back-arrow {
    position: absolute;
    top: 10px; /* Ajusta este valor según sea necesario */
    left: 10px; /* Ajusta este valor según sea necesario */
    font-size: 24px;
    color: #000; /* Cambia el color según tus necesidades */
    text-decoration: none;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}


.admin-link{
    color: #000;
}

.admin-link:hover{
    color: #5a54e3;
}

